<a href="https://colab.research.google.com/github/SYKIM5396/TIL/blob/main/pandas_grouping%26unstack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/SYKIM5396/New_Game_Design/main/vgames2.csv')
df.head()

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [3]:
# K는 *0.001로 M은 그냥 지우기 그후 각 요소에 pd.eval 함수 적용. 그후 타입변경
df['NA_Sales'] = df['NA_Sales'].replace({'K': '*0.001','M':'' }, regex=True).apply(pd.eval).astype(float)
df['EU_Sales'] = df['EU_Sales'].replace({'K': '*0.001','M':'' }, regex=True).apply(pd.eval).astype(float)
df['JP_Sales'] = df['NA_Sales'].replace({'K': '*0.001','M':'' }, regex=True).apply(pd.eval).astype(float)
df['NA_Sales'] = df['NA_Sales'].replace({'K': '*0.001','M':'' }, regex=True).apply(pd.eval).astype(float)

In [4]:
#Year값에 4자리 년도가 아닌 숫자들이 많다. 70~90년대는 1900더해주고, 나머지 20보다 작은 숫자들은 2000을 더해서 4자리 년도로 바꿔준다.
for i in range(df.shape[0]):
    if df["Year"][i] < 20  :
            df.loc[i,["Year"]] += 2000
    if df["Year"][i] > 70 and df["Year"][i] < 100 :
            df.loc[i,["Year"]] += 1900

In [5]:
#Total_sales 칼럼 추가
df["Total_sales"] = df.loc[:,["NA_Sales",	"EU_Sales",	"JP_Sales",	"Other_Sales"]].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [6]:
#Genre에 따른 Total_sales 평균 분산 최대 최소값 구하기
#.groupby().agg() 메서드 연습
df[['Genre','Total_sales']].groupby('Genre').agg(['mean','var','max','min'])

             Total_sales
                    mean        var     max  min
Genre
Action          0.687377   2.195465   24.57  0.0
Adventure       0.215133   0.469353   14.36  0.0
Fighting        0.646541   1.554989   16.11  0.0
Misc            0.593114   3.065410   37.26  0.0
Platform        1.238111  12.201491   61.74  0.0
Puzzle          0.514585   5.242089   48.66  0.0
Racing          0.765471   4.070932   44.58  0.0
Role-Playing    0.554727   3.075079   31.43  0.0
Shooter         1.129121   7.859286   54.49  0.0
Simulation      0.554069   1.908704   29.14  0.0
Sports          0.742213   7.726960  112.00  0.0
Strategy        0.268706   0.547463    7.60  0.0

In [7]:
#Year와 Genre에 따른 Total_sales의 평균을 계층적 indexing 없이 구하라
df.groupby(['Year','Genre']).Total_sales.mean().unstack()

Genre,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
Year,,,,,,,,,,,,
1980.0,0.660000,NaN,1.480000,1.302500,NaN,NaN,NaN,NaN,6.775000,NaN,NaN,NaN
1981.0,1.141200,NaN,NaN,NaN,4.436667,2.155000,0.930000,NaN,1.930000,0.860000,0.380000,NaN
1982.0,0.695556,NaN,NaN,1.670000,1.932000,6.426667,1.515000,NaN,1.462000,NaN,1.010000,NaN
1983.0,0.787143,0.780000,NaN,0.020000,1.206000,1.490000,NaN,NaN,0.930000,NaN,1.560000,NaN
1984.0,1.790000,NaN,NaN,0.000000,0.000000,0.520000,1.696667,NaN,18.810000,NaN,1.895000,NaN
1985.0,1.830000,NaN,0.000000,NaN,15.907500,0.712500,NaN,NaN,1.440000,0.030000,0.590000,NaN
1986.0,2.450000,NaN,NaN,NaN,0.386667,NaN,2.630000,0.980000,0.510000,NaN,1.723333,NaN
1987.0,1.070000,4.880000,3.125000,NaN,0.970000,NaN,NaN,0.313333,0.675000,NaN,0.207500,NaN
1988.0,1.230000,NaN,NaN,NaN,9.417500,6.630000,3.320000,0.066667,0.970000,0.020000,1.530000,NaN
1989.0,4.060000,NaN,NaN,0.000000,9.120000,11.338000,NaN,0.000000,1.190000,NaN,1.793333,NaN
1990.0,3.170000,NaN,NaN,NaN,10.756667,3.530000,3.700000,0.080000,NaN,1.090000,0.353333,NaN
1991.0,1.604000,1.005000,0.000000,0.000000,1.651667,0.470000,1.530000,0.114000,0.833333,1.065000,0.131429,0.000000
1992.0,5.380000,3.787500,2.291429,2.655000,3.085000,0.728000,4.160000,0.000000,0.013333,3.240000,0.937500,0.023333
1993.0,0.250000,0.000000,0.413636,0.000000,2.043636,0.456667,0.000000,0.063333,1.865000,0.000000,0.010000,0.300000
1994.0,0.315000,0.732500,0.303636,0.631667,3.226364,0.000000,0.000000,0.101176,0.908182,0.130000,0.252273,0.476667
1995.0,0.488750,0.003846,0.400690,0.280909,1.264615,0.045833,0.508333,0.071667,0.064828,0.239286,0.220690,0.452857
1996.0,1.359000,0.136471,0.609667,0.474348,2.460714,0.516667,1.830952,1.307143,0.378261,1.068462,0.371923,0.448333
1997.0,1.247097,0.432857,0.525357,0.648333,1.559444,0.229286,1.162778,0.611304,1.277778,0.267895,0.795000,0.345238
1998.0,1.186364,0.385217,1.089268,0.660000,1.691600,0.519231,0.784375,0.952308,0.633913,0.793750,0.851571,0.306000
1999.0,0.983077,0.495789,0.819583,1.105200,1.741111,0.345000,1.090000,1.377813,1.204375,0.407500,0.600161,0.860385
2000.0,1.075814,0.169375,0.885862,0.959500,0.849167,0.365833,0.662791,0.641379,0.508500,0.199333,0.682346,0.463750
2001.0,1.157727,0.560000,1.298889,0.929615,1.275349,0.818667,1.080141,0.464878,1.047778,0.891071,0.747292,0.382000
2002.0,0.981040,0.290732,0.633519,0.456444,0.854026,0.411500,0.445340,0.928889,0.910000,0.818421,0.476489,0.235909
2003.0,0.669167,0.207500,0.736818,0.544906,0.725517,0.241429,0.665413,0.693750,0.558630,0.874000,0.630880,0.257297
2004.0,0.753520,0.308974,0.615385,0.514588,0.981061,0.366400,0.761286,0.997167,0.834205,0.557778,0.851068,0.236250
2005.0,0.631198,0.291667,0.584419,0.642783,0.432805,0.590938,1.004545,0.415211,0.675521,1.447105,0.706721,0.208621
2006.0,0.500163,0.182535,0.536000,0.655505,1.085370,0.258571,0.659467,0.491296,0.795507,0.474828,1.347971,0.124286
2007.0,0.681619,0.377143,0.362600,0.773311,1.138333,0.442462,0.592976,0.465728,1.186310,0.757444,0.731257,0.143485
2008.0,0.836986,0.190602,0.765439,0.552571,0.740645,0.335781,1.113659,0.551786,1.038434,0.553898,0.624000,0.277200
2009.0,0.670812,0.183262,0.805472,0.496812,1.854643,0.358481,0.519639,0.451262,1.089560,0.381789,1.006033,0.218000
2010.0,0.691991,0.116601,0.478500,0.649700,1.382903,0.362222,0.755088,0.687379,1.359259,0.363086,0.677459,0.303208
2011.0,0.621339,0.153925,0.582653,0.427213,0.945405,0.129070,0.657538,0.564842,1.435638,0.360536,0.612787,0.209348
2012.0,0.555227,0.085439,0.383103,0.752895,1.710000,0.092727,0.544667,0.611154,2.009583,0.544444,0.770926,0.191333
2013.0,1.032365,0.087167,0.415500,0.775238,0.873784,0.286667,0.921250,0.296143,1.433051,0.448889,1.009811,0.381579
2014.0,0.634086,0.079867,0.732609,0.676341,0.967000,0.202500,0.719259,0.421538,1.856383,0.534545,1.060727,0.067500
2015.0,0.266996,0.167547,0.456190,0.341795,0.486429,0.035000,0.456842,0.502821,2.523824,0.318000,0.864677,0.124706
2016.0,0.152101,0.031471,0.310714,0.029444,0.245000,NaN,0.090000,0.101750,0.705625,0.010000,0.434211,0.054000
2017.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.540000,NaN,NaN

In [8]:
#Action 장르를 가지는 데이터들 중 Platform 그룹별로 Total_sales의 평균, 분산, 최대, 최소값을 구하라
df[df.Genre=='Action'].groupby(['Platform']).Total_sales.agg(['mean','var','max','min'])

              mean       var    max   min
Platform
2600      0.924918  0.497212   4.24  0.27
3DS       0.283022  0.490388   5.33  0.00
DC        0.350000  0.367500   1.05  0.00
DS        0.466356  1.010172  11.57  0.00
GB        1.708333  4.660177   5.38  0.00
GBA       0.532695  0.516757   4.23  0.00
GC        0.593960  0.863318   6.19  0.02
GEN       1.423333  6.077633   4.27  0.00
N64       1.192162  3.546234  10.09  0.02
NES       2.766154  6.458976   8.41  0.00
PC        0.224878  0.182749   3.07  0.01
PS        1.094423  3.200287   9.02  0.00
PS2       0.935504  4.586919  22.31  0.00
PS3       0.932367  3.824962  23.29  0.00
PS4       0.783719  2.768690  13.41  0.00
PSP       0.295656  0.620029   8.63  0.00
PSV       0.109718  0.070799   2.12  0.00
SAT       0.000000  0.000000   0.00  0.00
SNES      0.792500  2.746511   5.75  0.00
Wii       0.731814  1.348823   9.85  0.00
WiiU      0.418254  0.208289   2.43  0.00
X360      1.109846  4.373640  24.57  0.00
XB        0.525742  0.587162   4.74  0.00
XOne      0.740735  1.510810   7.33  0.01

In [9]:
#데이터중 Genre 값에 따른 Platform 컬럼의 숫자를 구하고 Genre를 기준으로 각 값의 비율을 구하여라
df1 = df[['Genre','Platform']].groupby(['Genre','Platform']).size().unstack().fillna(0)
df1.loc[:,:] = (df1.values /df1.sum(axis=1).values.reshape(-1,1))
df1.T

Genre,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
Platform,,,,,,,,,,,,
2600,0.018457,0.001563,0.002361,0.002884,0.010181,0.019031,0.004827,0.000000,0.018349,0.001156,0.004699,0.000000
3DO,0.000000,0.000781,0.000000,0.000000,0.000000,0.001730,0.000000,0.000000,0.000000,0.001156,0.000000,0.000000
3DS,0.055068,0.028906,0.016529,0.030565,0.031674,0.034602,0.008850,0.057316,0.005352,0.034682,0.011106,0.022059
DC,0.000908,0.008594,0.014168,0.000000,0.002262,0.000000,0.004827,0.002697,0.002294,0.001156,0.004272,0.000000
DS,0.103782,0.186719,0.042503,0.226067,0.104072,0.410035,0.053902,0.134862,0.032110,0.328324,0.063221,0.116176
GB,0.001815,0.003906,0.000000,0.004614,0.021493,0.025952,0.001609,0.014160,0.000765,0.005780,0.003845,0.010294
GBA,0.050530,0.028906,0.027155,0.063437,0.160633,0.070934,0.051488,0.048550,0.030581,0.020809,0.037591,0.026471
GC,0.030560,0.015625,0.049587,0.020761,0.082579,0.020761,0.050684,0.018206,0.036697,0.013873,0.046988,0.016176
GEN,0.000908,0.001563,0.005903,0.000577,0.007919,0.000000,0.000805,0.002023,0.000765,0.000000,0.001282,0.001471
GG,0.000000,0.000000,0.000000,0.000000,0.001131,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
N64,0.011195,0.003125,0.034238,0.009804,0.033937,0.020761,0.045052,0.005394,0.018349,0.011561,0.034173,0.013235
NES,0.003933,0.000781,0.004723,0.001153,0.031674,0.024221,0.003218,0.007417,0.005352,0.000000,0.005980,0.000000
NG,0.000000,0.000000,0.012987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000427,0.000000
PC,0.049622,0.050781,0.007084,0.013841,0.012443,0.043253,0.048270,0.070128,0.113150,0.131792,0.020931,0.275000
PCFX,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000674,0.000000,0.000000,0.000000,0.000000
PS,0.047201,0.053125,0.127509,0.043829,0.072398,0.055363,0.115849,0.064734,0.073394,0.069364,0.094831,0.102941
PS2,0.104992,0.152344,0.177096,0.127451,0.116516,0.031142,0.173773,0.125421,0.122324,0.104046,0.170013,0.104412
PS3,0.113767,0.057813,0.089728,0.071511,0.040724,0.005190,0.074014,0.080243,0.119266,0.035838,0.090987,0.035294
PS4,0.036611,0.014844,0.020071,0.008651,0.012443,0.001730,0.013677,0.031693,0.025994,0.005780,0.018368,0.007353
PSP,0.066868,0.166406,0.087367,0.061130,0.039593,0.074394,0.052293,0.128793,0.028287,0.033526,0.057668,0.088235
PSV,0.042965,0.066406,0.018890,0.013841,0.011312,0.005190,0.008850,0.055968,0.003823,0.003468,0.009825,0.010294
SAT,0.000908,0.020313,0.036600,0.008651,0.005656,0.008651,0.006436,0.011463,0.016820,0.008092,0.006835,0.026471
SCD,0.000000,0.000000,0.000000,0.001153,0.001131,0.000000,0.000805,0.000674,0.000000,0.000000,0.000000,0.001471
SNES,0.003631,0.003125,0.029516,0.009804,0.029412,0.022491,0.007241,0.033715,0.007645,0.010405,0.020931,0.022059
TG16,0.000000,0.000781,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000765,0.000000,0.000000,0.000000
WS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002697,0.000000,0.000000,0.000000,0.002941
Wii,0.071710,0.065625,0.049587,0.160323,0.065611,0.093426,0.074819,0.023601,0.049694,0.100578,0.111491,0.036765
WiiU,0.019062,0.002344,0.005903,0.012111,0.018100,0.006920,0.002414,0.004046,0.007645,0.001156,0.003417,0.004412
X360,0.098033,0.036719,0.075561,0.072664,0.027149,0.012111,0.082864,0.051247,0.155199,0.046243,0.093977,0.041176
XB,0.046899,0.020313,0.056671,0.026528,0.055430,0.012111,0.098150,0.015509,0.100153,0.027746,0.071764,0.030882
XOne,0.020575,0.008594,0.008264,0.008651,0.004525,0.000000,0.015286,0.008766,0.025229,0.003468,0.015378,0.004412